

body{
  background-image: url('../images/cidade-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.display-4,.display-6,.display-5  {
  text-align: justify;
  color: white;

}
.form-input{
  padding: 8px;
  width: 100%;
  border-radius: 10px;
  background-color:#49bcfe08;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.253);
  color: white;
  border: none;
  border-bottom: 2px solid  #49bcfee2;

}

form{
  border: none;
  border-radius: 10px;
  background-color: rgba(221, 221, 221, 0.692);
  backdrop-filter: blur(10px);

}
.form-floating {
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
i{
  font-size: 3em;

  

 
}
hr{
  width: 100%;
}

.div-btn-cadastro{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
 
}

.btn-cadastro{
  background-color: #49bcfee2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 120px;
  
}
.btn-cadastro h1{
  color: white;
}
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
